article {
  height: 1080px;
  width: 1920px;
  background-image: url(../img/campoMyTeam.png);
  background-size: cover;
  /* Agregar el siguiente estilo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo2 {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 42px Helvetica;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
}

.containerMyTeam {
  width: 100%;
  height: 100%;
  background-image: url(../img/campoMyTeam.png);
  background-size: cover;
  /* Agregar los siguientes estilos */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.posicion {
  height: 100px;
  width: 100px;
  margin: 0px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.futbolista-en-posicion {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.futbolista {
  height: 110px;
  width: 110px;
  margin: 0px;
  /* border: 2px solid white; */
  cursor: move;
}

.imgJ {
  height: 150px;
  width: 150px;
}

.plantilla-item {
  position: relative;
  z-index: 1;
}

.plantilla-item {
  /* Propiedades anteriores... */
  transition: transform 0.2s ease-in-out;
}

.plantilla-item.is-dragging {
  z-index: 2;
}

.plantilla-list {
  list-style: none;
  margin: 0;
  width: 10;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plantilla-item {
  width: calc(30% - 1rem);
  margin: 0.5rem;
  width: 10;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: move;
  position: relative;
}

.plantilla-item::before {
  font-weight: bold;
  position: absolute;
  left: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
}


.hueco {
  height: 40px;
  margin: 60px;
  width: 10px;
  /* border: 2px dashed white; */
  flex-shrink: 0; /* Evita que el elemento se reduzca */
}


.futbolista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.futbolista__img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.futbolista__nombre {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.hueco.vacio{
  display: none;
  opacity: 0.1;
  width: 1%;
}

.plantilla-item.DFC{
  width: 20%;
}
.plantilla-item.LI{
  width: 20%;
}
.plantilla-item.LD{
  width: 20%;
}
.plantilla-item.MC{
  width: 26%;
}
.plantilla-item.EI{
  width: 27%;
}
.plantilla-item.ED{
  width: 27%;
}
.plantilla-item.DC{
  width: 35%;
}
.plantilla-item.Portero{
  width: 20%;
}
