.articleM {
  height: 1080px;
  width: 1920px;
  background-image: url(../img/campoMyTeam.png);
  background-size: cover;
  /* Agregar el siguiente estilo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.titulo2 {
  color: rgb(255, 255, 255);
  display: block;
  font: bold 42px Helvetica;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center; 
  /* text-transform: uppercase; */
  letter-spacing: -1px;
}

.containerMyTeam {
  width: 90%;
  height: 50%;
  margin-top: 6%;
  /* background-image: url(../img/campoMyTeam.png); */
  background-size: cover;
  /* Agregar los siguientes estilos */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.posicion {
  /* height: 100px;
  width: 100px; */
  margin: 0px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.futbolista-en-posicion {
  height: -100px;
  width: -100px;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.futbolista {
  height: -110px;
  width: -10px;
  margin: -100px;
  /* border: 2px solid white; */
  cursor: move;
  position: fixed;
  bottom: 0;
}

.imgJ {
  height: 150px;
  width: 150px;
}

.JimgM{
  display: flex;
  flex-direction: row;
  }

.plantilla-item {
  position: relative;
  z-index: 1;
  /* background-image: url('./imgJugadores/1.png');
  background-size: 200px;
  background-size: cover; */
  /* padding: 3px; */
}

/* .plantilla-item {
  transition: transform 0.2s ease-in-out;
} */

.plantilla-item.is-dragging {
  z-index: 2;
}

.plantilla-list {
  list-style: none;
  /* margin-left: 400px; */
  /* width: 10; */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plantilla-item {
  width: calc(30% - 1rem);
  margin: 0.5rem;
  width: 1;
  text-align: center;
  /* border: 0.5px solid #ccc; */
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: move;
  position: relative;
}

.plantilla-item::before {
  font-weight: bold;
  position: absolute;
  left: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
}


.hueco {
  height: 4px;
  margin: 6px;
  width: 1px;
  /* border: 2px dashed white; */
  flex-shrink: 0; /* Evita que el elemento se reduzca */
}


.futbolista {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: -10;
}

.futbolista__img {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0rem;
}

.futbolista__nombre {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.hueco.vacio{
  display: none;
  opacity: 0.1;
  width: 1px;
}

.plantilla-item.DFC{
  width: 20%;
}
.plantilla-item.LI{
  width: 20%;
}
.plantilla-item.LD{
  width: 20%;
}
.plantilla-item.MC{
  width: 26%;
}
.plantilla-item.EI{
  width: 27%;
}
.plantilla-item.ED{
  width: 27%;
}
.plantilla-item.DC{
  width: 35%;
}
.plantilla-item.Portero{
  width: 20%;
}
.button {
  border: none;
  width: 140px;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: #000;
  position: relative;
 }
 
 .button p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
 }
 
 .button::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: #8792eb;
  transition: 0.2s ease;
 }
 
 .button::before {
  position: absolute;
  content: "";
 /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
 /*   bottom:; */
  z-index: -1;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: #8792eb;
 }
 
 .button:hover::after {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 
 .button:hover::before {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 
 