.App {
  text-align: center;
}
*{
  color: white;
}
.inForm{
  color: black !important;
}
body {
  background-image: url(../src/img/fondo_champions.png);
	background-size: cover;
  color: white;
}
.h{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.logo{
  display: inline-flex;
}
.titulo{
  color: black;
  display: block;
  font: bold 42px Helvetica;
  margin-left: 10px;
  margin-top: 40px;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
}





@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/* .xd {
  color: #fff;
  height: 100%;
  overflow: hidden;
  background: #333641;
}

.xd {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
} */

.titulo {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 6vw;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
